<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">

    <title>アゲラタム取引信用チェッカー</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width-device, initial-scale=1.0">

    <!-- メタ情報　for twitterシェア　要改良 -->
    <meta property="og:url" content="https://ageratum-reliability-checker.herokuapp.com/">
    <meta property="og:title" content="アゲラタム取引信用チェッカー">
    <meta property="og:description" content="あなたに快適なお取引を・・・　アゲラタムで楽しいお取引ライフをはじめよう！">
    <meta property="og:image" content="/ageratum_icon.jpg"> 
    <meta name="twitter:card" content="summary_large_image">
   
    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </head>

  <body>
    <header>
      <div class="wrapper">
        <div class="headerContents">
          <div class="usersSearch">
          <% if @current_user %>
            <i class="fas fa-search"></i>
          <% end %>
          </div>
          <h1 class="appTitle">
          <% if @current_user %>
            <%= link_to("アゲラタム　取引信用チェッカー", "/#{@current_user.nickname}") %>
          <% else %>
            <%= link_to("アゲラタム　取引信用チェッカー", "/") %>
          <% end %>
          </h1>
        </div>
      </div>
    </header>


    <!-- SearchFrom 改良の余地あり -->
    <div class="searchForm">
      <%= form_tag("/search", method: :get) do %>
        <div class="introduction searchInstruction">どなたをお探しですか？ユーザーIDで検索してみましょう。<br><span style="font-size: 13px">※ユーザーIDはTwitterのIDと同じです。＠マークを抜いて入力してください。</span></div>
        <input class="searchInput" type="text" name="nickname">
        <input class="button submitBtn searchBtn" type="submit" value="検索">
      <% end %>
    </div>


    <% if flash[:notice] %>
      <div class="notice">
        <%= flash[:notice]%>
      </div>
    <% end %>


    <!-- Twitterシェア　改良の余地あり -->
    <% if flash[:shareMessage] %>
      <div class="messageShow">
        <% case $messagenumber %>
          <% when 1 %>
            <div class="introduction"><%= flash[:shareMessage] %></div>
            <div class="shareTitle">Tweetでシェアする。</div>
            <a href="https://ageratum-reliability-checker.herokuapp.com/" class="twitter-share-button" data-text="アゲラタム取引信用チェッカーに登録しました！あなたもアゲラタムに登録してみませんか？" data-via="ageratum891003" data-hashtags="アゲラタム #アゲラタム取引信用チェッカー" data-lang="ja" data-show-count="false" data-size="large"></a>
          <% when 2 %>
            <div class="introduction"><%= flash[:shareMessage] %></div>
            <div class="shareTitle">Tweetでシェアする。</div>
            <a href="https://ageratum-reliability-checker.herokuapp.com/#{@current_user.nickname}" class="twitter-share-button" data-text="アゲラタム取引信用チェッカーでお取引プロフィールを更新しました！チェックしてみてください。" data-via="ageratum891003" data-hashtags="アゲラタム #アゲラタム取引信用チェッカー" data-lang="ja" data-show-count="false" data-size="large"></a>
          <% when 3 %>
          　<div class="introduction"><%= flash[:shareMessage] %></div>
            <div class="shareTitle">Tweetでシェアする。</div>
            <!--<div class="button TwitterBtn"><a href="https://twitter.com/share?url=/#{@user.nickname}&via=ageratum891003&hashtags=アゲラタム,アゲラタム取引信用チェッカー&text=アゲラタム取引信用チェッカーで<%= @user.name %>さんあてにレビューを書きました！お取引ありがとうございました。" rel="nofollow" target="_blank"><i class="fab fa-twitter"></i>Twitter</a></div>-->
            <a href="https://ageratum-reliability-checker.herokuapp.com/#{@user.nickname}/inbox" class="twitter-share-button" data-text="" data-via="ageratum891003" data-hashtags="アゲラタム #アゲラタム取引信用チェッカー" data-lang="ja" data-show-count="false" data-size="large"></a>
        <% end %>
        <div class="button closeBtn">閉じる</div>
      </div>
    <% end %>
    
    <main>
      <div class="wrapper">
        
        <%= yield %>

      </div>
    </main>

    <% if @current_user %>
      <span style="font-weight: 600; border-bottom: 2px solid #000000"><%= link_to("ログアウト", "/logout", method: :post) %></span>
    <% end %>

    <footer>
      <div class="wrapper">
        <div class="footerContent">
          <ul>
            <li><%= link_to("アゲラタムの使い方", "/howtouse") %></li>
            <li><%= link_to("利用規約", "/termsofservice") %></li>
            <li><%= link_to("プライバシーポリシー", "/privacypolicy") %></li>
            <li><%= link_to("お問い合わせ", "/contact") %></li>
          </ul>
        </div>
        <div class="copyright">©2018-2021 アゲラタム 取引信用チェッカー</div>
      </div>
  </footer>

  <script type="text/javascript">
    $(function(){
      $('.usersSearch').click(function(){
        $('.searchForm').show();
      });
      $('.submitBtn, main').click(function(){
        $('.searchForm').hide();
      });

      $('.closeBtn, main').click(function(){
        $('.messageShow').hide();
      });

      setTimeout(function(){
        $('.notice').slideUp('slow');
      }, 800);
    });
  </script>
  </body>
</html>
